<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">
    <title>Boule Magique Flask</title>
    <style>
        .gravitas-one-regular {
        font-family: "Gravitas One", serif;
        font-weight: 400;
        font-style: normal;
        }
    </style>
</head>
<body class=  "flex justify-center items-center p-8 rounded-lg gravitas-one-regular">
    <!-- Section = effet etiqutte-->
         <!-- Largeur max 1000px  --> 
    <section class= "max-w-[1000px]  max-h-[1100px] bg-orange-100 justify-center p-8 rounded-lg shadow-lg border border-gray-100 p-8">
    <!-- Entête -->
    <header class="flex items-center  text-center text-orange-400 justify-center  border-orange-400 border-b-3 ">
        <!-- Mon image redimensionnée et centrée -->
        <div class="w-30">
            <img alt="Image Boule de Cristal" src="../static/boule_cristal.jpg">
        </div>
        <!-- Notre titre, agrandit avec la classe text-4xl, mis en gras avec font-bold  et on applique la police d'écriture téléchargée -->
        <p class="text-2xl font-bold gravitas-one-regular"> Boule Magique </p>
        <br>
    </header>

    <!-- Corps de page = Partie Principale -->
    <main class="grid grid-cols-2 gap-5 py-4">
        <div >
            <div class="w-100">
                <img class="rounded-lg" src="../static/voyante.png">
            </div>
        </div>

        <div class="py-10">
            <!-- INSTRUCTIONS -->
            <div>
                <h2 class="text-2xl text-center font-boldtext-orange-300 py-6 text-orange-300"> INSTRUCTIONS</h2>
                <ul class="list-decimal list-inside space-y-2 text-gray-700  text-grey-200 ">
                    <li>Ecris ta question</li>
                    <li>Valide avec le bouton</li>
                    <li>Découvre ton futur</li>
                </ul>
            </div>
            <!-- INPUT -->
            <div>
                <form method="POST" class="py-4 text-center">
                    <p class="text-xl font-semibold py-4"> Pose ta question à la voyante : </p>
                    <input name="question" type="text" class="w-full border border-gray-300 rounded-lg px-4 py-4"> 
                    <!-- BOUTON -->
                    <button type="submit" class=" my-20 mx-30 p-4 text-center bg-orange-300 rounded-lg font-bold text-lg hover:bg-orange-200 text-gray-500 shadow-sm"> Découvre ton futur !<button />
                </form>
            </div>
        </div>
        

    </main>
    
    <!-- Pied de page -->
    <footer >
        <div class="w-1/4 mx-auto  py-2 bg-orange-200/50 text-center border border-dashed border-orange-300 rounded-lg shadow-lg"> 
            {% if reponse %}
                <p class="text-orange-400 ">{{reponse}}</p>
            {% else %}
                <p class="text-orange-400 ">Découvre quel avenir t'attend !</p>
            {% endif %}
        </div>
    </footer>
    </section>
</body>
</html>